
@{
    ViewBag.Title = "phuongtrinhb1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>phuongtrinhb1</h2>

@using (Html.BeginForm())
{
<label>Nhập số a:</label>
<input type="text" name="soX" />
<input type="text" name="soA" />
<label>Nhập số b:</label>
<input type="text" name="soY" />
<input type="text" name="soB" />
<input type="submit" value="Kết quả:" />
}
<label>Nghiệm của PT là: @ViewBag.Giaipt</label>