
@{
    ViewBag.Title = "phuongtrinhb1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>phuongtrinhb1</h2>

@using (Html.BeginForm("phuongtrinhb1", "phuongtrinhb1"))
{
<lable>số a</lable>
<input type="text"  name="soA"/>
<label>số b </label>
<input type=" text " name=" soB" />
<input type=" submit" value="phuong trinh co nghiem la"/>
}
<label>nghiem phuong trinh la : @ViewBag.nghiemphuongtrinh</label>